<h2 class="title">Informations de contact</h2>

<div class="contact-information">
    <h3 class="title">{{ 'app.ui.contact_info'|trans }}</h3>
    {{ form_row(form.father.email) }}
    {{ form_row(form.father.address.address1) }}
    {{ form_row(form.father.address.address2) }}
    {{ form_row(form.father.address.postalCode) }}
    {{ form_row(form.father.address.city) }}
</div>