{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block form_row %}
    <div class="form-group row">
        {{ form_label(form, null, {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}

        <div class="col-sm-10">
            {{ form_widget(form, {"attr": {"class": "form-control"}}) }}
            <div class="has-danger">
                <div class="form-control-feedback">
                    {{ form_errors(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock form_row %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/contact_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/contact_responsive.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/registration.css') }}">
{% endblock %}

{% block body %}
    <div id="registration-page">
        <div>
            <h1 class="title">Inscription</h1>
            <p>
                Nous sommes heureux de vous accueillir pour la nouvelle année 2019/2019. <br/>
                Pour l'inscription de votre ou vos enfants, veuillez remplir le formulaire ci-dessous.
            </p>
        </div>

        {% if not form.vars.valid %}
            <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">Erreurs</h4>
                <p>Vueillez corriger les erreurs ci-dessous pour finaliser votre inscription.</p>
                <hr>
                <p class="mb-0">
                    {{ form_errors(form) }}
                </p>
            </div>
        {% endif %}

        {{ form_start(form, {'attr': {'id':'form-registration'}}) }}

        <div id="wizard">
            <div id="step-1" class="step">
                {{ include('registration/schoolboys.html.twig') }}
                <div class="text-right">
                    <button type="button" class="btn btn-outline-primary btn-next btn-lg">Suivant</button>
                </div>
            </div>
            <div id="step-2" class="step">
                {{ include('registration/parents.html.twig') }}
                <div class="row justify-content-between">
                    <button type="button" class="btn btn-outline-primary btn-prev btn-lg">Précedent</button>
                    <button type="button" class="btn btn-outline-primary btn-next btn-lg">Suivant</button>
                </div>
            </div>
            <div id="step-3" class="step">
                {#this field is not displayed her but in the price grid#}
                <div class="col matter_regist delete">
                    {{ form_label(form.matters,null, {'label':'matter'}) }}
                    <div class="matter_input_regist">
                        {{ form_widget(form.matters) }}
                    </div>
                </div>

                {{ include('matter/price_grid.html.twig', {'matters': matters}) }}

                <span class="error">{{ form_errors(form.matters) }}</span>

                <div class="row justify-content-between">
                    <button type="button" class="btn btn-outline-primary btn-prev btn-lg">Précedent</button>
                    <button type="submit" class="btn btn-outline-primary btn-lg">S'inscrire</button>
                </div>

            </div>
        </div>

        {#{{ form_end(form) }}#}

    </div>
{% endblock %}
