{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
    <div class="super_container">
        <div id="background-regist">
            {% include 'registration/background.html.twig' %}
        </div>

        <div class="form-group">
            {{ form_start(form) }}

            <div class="row">
                <div class="col">
                    {{ form_row(form.schoolBoy.lastName) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.schoolBoy.firstName) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.schoolBoy.dateOfBirth) }}
                </div>
                <div class="col">
                    {{ form_row(form.schoolBoy.birthplace) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.schoolBoy.classes) }}
                </div>
            </div><div class="row">
                <div class="col">
                    {{ form_row(form.schoolBoy.firstName) }}
                </div>
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
