<h2 class="title">Informations sur les parents</h2>

<div class="parent">
    <div class="father">
        <h3 class="title">{{ 'app.ui.father_info'|trans }}</h3>
        {{ form_row(form.father.lastName) }}
        {{ form_row(form.father.firstName) }}
        {{ form_row(form.father.phone) }}
    </div>
    <div class="mother">
        <h3 class="title">{{ 'app.ui.mother_info'|trans }}</h3>
        {{ form_row(form.mother.lastName) }}
        {{ form_row(form.mother.firstName) }}
        {{ form_row(form.mother.phone) }}
    </div>
    <div class="contact-information">
        <h3 class="title">{{ 'app.ui.contact_info'|trans }}</h3>
        {{ form_row(form.father.email) }}
        {{ form_row(form.father.address.address1) }}
        {{ form_row(form.father.address.address2) }}
        {{ form_row(form.father.address.postalCode) }}
        {{ form_row(form.father.address.city) }}
    </div>
</div>