<h2>Informations sur les parents</h2>
<div class="row">
    <div class="col">
        {{ form_widget(form.father.lastName,{ 'attr': {'placeholder': "lastName of the father"} }) }}
        <span class="error">{{ form_errors(form.father.lastName) }}</span>
    </div>
    <div class="col">
        {{ form_widget(form.father.firstName,{ 'attr': {'placeholder': "firstName of the father"} }) }}
        <span class="error">{{ form_errors(form.father.firstName) }}</span>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_widget(form.father.phone,{ 'attr': {'placeholder': "phone"} }) }}
        <span class="error">{{ form_errors(form.father.phone) }}</span>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_widget(form.mother.lastName,{ 'attr': {'placeholder': "lastName of the mother"} }) }}
        <span class="error">{{ form_errors(form.mother.lastName) }}</span>
    </div>
    <div class="col">
        {{ form_widget(form.mother.firstName,{ 'attr': {'placeholder': "firstName of the mother"} }) }}
        <span class="error">{{ form_errors(form.mother.firstName) }}</span>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_widget(form.mother.phone,{ 'attr': {'placeholder': "phone"} }) }}
        <span class="error">{{ form_errors(form.mother.phone) }}</span>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_widget(form.father.email,{ 'attr': {'placeholder': "email"} }) }}
        <span class="error">{{ form_errors(form.father.email) }}</span>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_widget(form.father.address.address1,{ 'attr': {'placeholder': "address1"} }) }}
        <span class="error">{{ form_errors(form.father.address.address1) }}</span>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_widget(form.father.address.address2,{ 'attr': {'placeholder': "address 2"} }) }}
        <span class="error">{{ form_errors(form.father.address.address2) }}</span>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_widget(form.father.address.postalCode,{ 'attr': {'placeholder': "posteCode"} }) }}
        <span class="error">{{ form_errors(form.father.address.postalCode) }}</span>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_widget(form.father.address.city,{ 'attr': {'placeholder': "city"} }) }}
        <span class="error">{{ form_errors(form.father.address.city) }}</span>
    </div>
</div>