<h2 class="title">Informations sur les parents</h2>

<div class="parent">
    <div class="father">
        <h3 class="title">{{ 'app.ui.father_info'|trans }}</h3>
        {{ form_row(form.father.lastName) }}
        {{ form_row(form.father.firstName) }}
        {{ form_row(form.father.phone) }}
    </div>
    <div class="mother">
        <h3 class="title">{{ 'app.ui.mother_info'|trans }}</h3>
        {{ form_row(form.mother.lastName) }}
        {{ form_row(form.mother.firstName) }}
        {{ form_row(form.mother.phone) }}
    </div>
</div>