<h2 class="title">Choix des matières</h2>

<div>
    <p>
        Veuillez choisir les maitères auxquel vous souhaitez inscrire votre enfant.
    </p>
</div>
<div class="matter-price-grid">
    <table class="table">
        <tr>
            <td>Choix</td>
            <td>Matière</td>
            <td>Description</td>
            <td>Prix</td>
        </tr>

        {% set selectedMatters = [] %}

        {% if app.request.request.get('registration')['matters'] is defined %}
            {% set selectedMatters  =  app.request.request.get('registration')['matters'] %}
        {% endif %}

        {% for matter in matters %}
            <tr>
                <td>
                    <input
                            id="registration_matter_{{ matter.id }}"
                            name="registration[matters][]"
                            value="{{ matter.id }}"
                            type="checkbox"
                            data-price="{{ matter.price }}"
                            {% if matter.id in selectedMatters %} checked="checked" {% endif %}
                    />
                </td>
                <td>{{ matter.name }}</td>
                <td>{{ matter.description }}</td>
                <td>{{ matter.price }} €</td>
            </tr>
        {% endfor %}
    </table>

    <div class="row justify-content-end">
        <div id="total" class="btn btn-info">
            Total à payer : <span>0</span> €
        </div>
    </div>
</div>